html {
  background-color: #fff
}

body {
  margin: 0em;
  font-family: Georgia;
  line-height: 1.5;
}

header {
  background-color: #fde30c;
}

h1 {
  padding: 0.5em 1em 0.5em 0.75em;
  border-radius: 10px;
  margin: 0em;
  font-weight: normal;
  font-size: 3rem;
  font-style: normal;
  font-family: 'Sigmar One', cursive;
  line-height: .5;
  text-align: center;
  color: #b41677;
}

h2 {
  font-weight: normal;
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Sigmar One', cursive;
  line-height: .75;
  text-align: left;
  margin: 0.5em 1em 0.5em 0em;
  color: #b41677;
  border-top: solid #fde30c 0.25rem;
  padding: 0.75em 0em 0em 0em;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  font-style: normal;
  font-family: 'Sigmar One', cursive;
  line-height: .75;
  text-align: left;
  color: #b41677;
  margin: 0em;
  padding: 0.5em 1em 0.5em 0em;

}

main {
  padding: 1em;
}

nav {
  text-align: center;
}
nav ol a {
  align: center;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  margin: 0;
  border: 5px;
  width: 5em;
  background-color: #aca76b;
  padding: 0.5em;
  border-radius: 4px;
}

nav li {
  display: inline-block;
  margin: 0.5em 0.125em 1em 0.125em;
  padding: 0;
}

nav ol {
  padding: 0;
  margin: 0;
}

nav ol a:hover {
  background-color: #b41677;
}

p {
  padding: 0.25em 0em 0.5em 0em;
  margin: 0;
}
h4 {
  text-align: center;
  font-size: 3em;
  margin: 0em;
  color: #aca76b;
}

blockquote {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  color: #aca76b;
}

div {
  text-align: center;
  font-size: 1.5em;
  color: #aca76b;
}

figure{
  background-color: #f8f4c7;
  padding: 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 7px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

img {
  width: 100%;
}
dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

.per {
  padding: 0em 0em 1em 0em;
}

em {
  padding: 1em 0.25em 1em 0em;
}

footer {
  background-color: #fde30c;
  padding: 2em 0em 2em 0em;
  text-align: center;
}
